/* start all pages css styles */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

header {
  width: 100vw;
  height: 70px;
  border-bottom: 2px solid #333;
}

h1 {
  text-align: center;
  margin: 26px;
}

h2 {
  padding: 15px;
}

.main {
  height: auto;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: rgb(238, 234, 234);
  border: 2px solid #333;
  border-radius: 15px;
  width: 900px;
  height: auto;
}
/* end all pages css styles */

/* start styles for index.html */
.img-recipes img {
  width: 250px;
  margin: 18px 22px;
}

.link-recipes a {
  display: block;
  text-align: center;
  margin: 40px 5px;
  font-size: 22px;
  text-decoration: none;
  color: #333;
}

.link-recipes a:hover {
  font-weight: bold;
}
/* end styles for index.html */

/* start styles for fried-rice.html */
.img-fried-rice {
  text-align: center;
  padding: 20px 0;
}

.description-fried-rice p {
  font-size: 20px;
  padding: 15px;
}

.ingredients-fried-rice ul {
  margin-left: 30px;
}

.ingredients-fried-rice ul li {
  padding: 20px 0;
  font-size: 20px;
}

.steps-fried-rice ol {
  margin-left: 30px;
}

.steps-fried-rice ol li {
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/* end styles for fried-rice.html */

/* start style for nasi-padang.html */
.img-nasi-padang {
  text-align: center;
  padding: 20px 0;
}

.description-nasi-padang p {
  font-size: 20px;
  padding: 15px;
}

.ingredients-nasi-padang ul {
  margin-left: 30px;
}

.ingredients-nasi-padang ul li {
  padding: 20px 0;
  font-size: 20px;
}

.steps-nasi-padang ol {
  margin-left: 30px;
}

.steps-nasi-padang ol li {
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/* end style for nasi-padang.html */

/* start style for rawon.html */
.img-rawon {
  text-align: center;
  padding: 20px 0;
}

.description-rawon p {
  font-size: 20px;
  padding: 15px;
}

h3 {
  padding: 15px;
}

.ingredients-rawon ul {
  margin-left: 30px;
}

.ingredients-rawon ul li {
  padding: 20px 0;
  font-size: 20px;
}

.steps-rawon ol {
  margin-left: 30px;
}

.steps-rawon ol li {
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 10px;
}
/* end style for rawon.html */
